<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthiq">

    <application
        android:allowBackup="true"
        android:icon="@drawable/awareness"
        android:label="@string/app_name"
        android:roundIcon="@drawable/awareness"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthIQ">
        <activity
            android:name=".recipe.KidneyRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.HypoRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.DiabetesRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.GoutRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.CovidRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.ArthRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.CholRecipe"
            android:exported="false" />
        <activity
            android:name=".recipe.HypRecipe"
            android:exported="false" />
        <activity
            android:name=".ui.Gout"
            android:exported="false" />
        <activity
            android:name=".ui.Cholesterol"
            android:exported="false" />
        <activity
            android:name=".ui.Kidney"
            android:exported="false" />
        <activity
            android:name=".ui.Hypoglycemia"
            android:exported="false" />
        <activity
            android:name=".ui.Arthritis"
            android:exported="false" />
        <activity
            android:name=".ui.Diabetes"
            android:exported="false" />
        <activity
            android:name=".ui.Covid19"
            android:exported="false" />
        <activity
            android:name=".ui.Help"
            android:exported="false" />
        <activity
            android:name=".ui.Hypertension"
            android:exported="false" />
        <activity
            android:name=".ui.Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>